---

---

<div class='relative group'>
  <span
    class='w-max p-1.5 absolute z-[1] left-1/2 bottom-[110%] translate-x-[-50%] invisible text-center text-lg bg-cyan-600 rounded-md transition-all ease-in duration-150 group-hover:visible'
    >Tailwind CSS</span
  >

  <svg
    width='56px'
    height='56px'
    viewBox='0 0 32 32'
    class='lg:transition-transform lg:duration-300 lg:ease-in lg:group-hover:scale-125'
  >
    <path
      d='M9,13.7q1.4-5.6,7-5.6c5.6,0,6.3,4.2,9.1,4.9q2.8.7,4.9-2.1-1.4,5.6-7,5.6c-5.6,0-6.3-4.2-9.1-4.9Q11.1,10.9,9,13.7ZM2,22.1q1.4-5.6,7-5.6c5.6,0,6.3,4.2,9.1,4.9q2.8.7,4.9-2.1-1.4,5.6-7,5.6c-5.6,0-6.3-4.2-9.1-4.9Q4.1,19.3,2,22.1Z'
      style='fill:#44a8b3'></path>
  </svg>
</div>
