---
import { Image } from 'astro:assets'
import htmlSvg from '@assets/svg/html.svg'
import cssSvg from '@assets/svg/css.svg'
import sassSvg from '@assets/svg/sass.svg'
import tailwindSvg from '@assets/svg/tailwind.svg'
import jsSvg from '@assets/svg/js.svg'
import reactSvg from '@assets/svg/react.svg'
import viteSvg from '@assets/svg/vite.svg'
import nextJsSvg from '@assets/svg/nextjs.svg'
import astroSvg from '@assets/svg/astro.svg'
import gitSvg from '@assets/svg/git.svg'
import githubSvg from '@assets/svg/github.svg'

const skills = [
  { name: 'HTML', icon: htmlSvg },
  { name: 'CSS', icon: cssSvg },
  { name: 'SASS', icon: sassSvg },
  { name: 'Tailwind', icon: tailwindSvg },
  { name: 'JavaScript', icon: jsSvg },
  { name: 'React', icon: reactSvg },
  { name: 'Vite', icon: viteSvg },
  { name: 'Next.js', icon: nextJsSvg },
  { name: 'Astro', icon: astroSvg },
  { name: 'Git', icon: gitSvg },
  { name: 'Github', icon: githubSvg },
]
---

<section id='about' class='w-full py-6'>
  <div class='max-w-4xl mx-auto text-neutral-50'>
    <h2 class='font-bold text-4xl text-center text-red-600 md:ml-0 md:text-5xl'>
      SOBRE MI
    </h2>

    <p class='mx-4 my-6 text-2xl font-medium md:mx-0'>
      22 años. Me encuentro en búsqueda de mi primer empleo como programador.
      Cuento con habilidades en Javascript y React. Adquirí experiencia en estas
      tecnologías a través de la creación de proyectos personales, y estoy muy
      motivado en poder formar parte de un equipo para poder seguir creciendo y
      potenciando mis habilidades.
    </p>

    <div class='py-4'>
      <h3 class='ml-4 font-bold text-3xl text-center text-amber-400 md:ml-0'>
        HABILIDADES
      </h3>

      <div
        class='max-w-lg mx-auto my-4 px-4 flex flex-wrap justify-evenly gap-8 sm:px-0 sm:gap-12'
      >
        {
          skills.map(({ icon, name }) => (
            <div>
              <Image
                src={icon}
                alt={name}
                width={56}
                height={56}
                class='lg:transition-transform lg:duration-300 lg:ease-in lg:hover:scale-125'
              />
            </div>
          ))
        }
      </div>
    </div>
  </div>
</section>
