---
import SkillsIcons from './SkillsIcons.astro'
---

<section id='aboutme' class='w-full py-6'>
  <div class='max-w-4xl mx-auto'>
    <h2
      class='mb-4 font-bold text-4xl text-center text-cyan-400 md:ml-0 md:text-5xl'
    >
      SOBRE MI
    </h2>

    <p
      class='mx-4 mb-4 text-2xl font-medium md:max-w-[54rem] md:mx-auto md:px-4 lg:px-0'
    >
      Tengo 23 años. En búsqueda de mi primer experiencia como programador.
      Cuento con habilidades en Javascript y React, adquiridas a través de la
      creación de proyectos personales. Estoy muy motivado en poder formar parte
      de un equipo para poder seguir creciendo y potenciando mis habilidades.
    </p>

    <div>
      <h3 class='mb-4 font-bold text-3xl text-center text-yellow-400 md:ml-0'>
        HABILIDADES
      </h3>

      <SkillsIcons />
    </div>
  </div>
</section>
