---
import SkillsIcons from './SkillsIcons.astro'
---

<section id='aboutme' class='w-full py-6'>
  <div class='max-w-4xl mx-auto'>
    <h2
      class='mb-4 font-bold text-4xl text-center text-red-600 md:ml-0 md:text-5xl'
    >
      SOBRE MI
    </h2>

    <p class='mx-4 mb-4 text-2xl font-medium md:mx-auto md:max-w-[52rem]'>
      Tengo 23 años. En búsqueda de mi primer experiencia como programador.
      Cuento con habilidades en Javascript y React, adquiridas a través de la
      creación de proyectos personales. Estoy muy motivado en poder formar parte
      de un equipo para poder seguir creciendo y potenciando mis habilidades.
    </p>

    <div>
      <h3 class='mb-4 font-bold text-3xl text-center text-amber-400 md:ml-0'>
        HABILIDADES
      </h3>

      <div
        class='max-w-lg mx-auto px-4 grid grid-cols-3 gap-8 justify-items-center sm:px-0 sm:grid-cols-4 sm:gap-12 lg:[&_svg]:transition-transform lg:[&_svg]:duration-300 lg:[&_svg]:ease-in lg:[&_svg:hover]:scale-125'
      >
        <SkillsIcons />
      </div>
    </div>
  </div>
</section>
