<div
  id='errorAlert'
  class='hidden fixed z-50 top-0 left-0 w-full h-full bg-zinc-950 bg-opacity-40'
>
  <div class='w-full h-full flex items-center'>
    <div
      class='max-w-72 mx-auto p-4 flex flex-col bg-zinc-800 rounded-xl sm:max-w-96'
    >
      <svg width='80' height='80' viewBox='0 0 512 512' class='self-center'>
        <g stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'>
          <g
            fill='#000000'
            transform='translate(42.666667, 42.666667)'
            class='fill-red-600'
          >
            <path
              d='M213.333333,3.55271368e-14 C331.136,3.55271368e-14 426.666667,95.5306667 426.666667,213.333333 C426.666667,331.136 331.136,426.666667 213.333333,426.666667 C95.5306667,426.666667 3.55271368e-14,331.136 3.55271368e-14,213.333333 C3.55271368e-14,95.5306667 95.5306667,3.55271368e-14 213.333333,3.55271368e-14 Z M262.250667,134.250667 L213.333333,183.168 L164.416,134.250667 L134.250667,164.416 L183.168,213.333333 L134.250667,262.250667 L164.416,292.416 L213.333333,243.498667 L262.250667,292.416 L292.416,262.250667 L243.498667,213.333333 L292.416,164.416 L262.250667,134.250667 Z'
            >
            </path>
          </g>
        </g>
      </svg>

      <h4 class='my-2 self-center text-2xl font-bold text-red-600'>
        Ups! Ocurrió un error
      </h4>

      <p class='mb-2 opacity-70'>
        Por favor, aguarde un momento e intente nuevamente.
      </p>

      <button
        id='closeError'
        class='w-fit py-2 px-3 self-end bg-zinc-600 rounded-full hover:bg-zinc-700'
        >Cerrar</button
      >
    </div>
  </div>
</div>

<script>
  document.getElementById('closeError')?.addEventListener('click', () => {
    document.getElementById('errorAlert')?.classList.add('hidden')
  })
</script>
