<footer class='w-full h-16 bg-[#16191F]'>
  <div
    class='max-w-4xl h-full mx-auto px-2 flex flex-row justify-between items-center lg:px-0'
  >
    <h3>Francisco Leiva®</h3>

    <a
      href='https://www.linkedin.com/in/franciscoleiva14/'
      target='_blank'
      aria-label='Visit my LinkedIn profile'
    >
      Visit LinkedIn
    </a>
  </div>
</footer>
