---
const navLinks = [
  { name: 'Home', href: '/#home' },
  { name: 'Sobre mí', href: '/#aboutme' },
  { name: 'Proyectos', href: '/#projects' },
  { name: 'Contacto', href: '/#contact' },
]
---

<header class='fixed top-4 right-4 z-50 md:left-0 md:right-0'>
  <nav
    class='flex flex-col items-end gap-2 md:max-w-4xl md:mx-auto md:items-center'
  >
    <label
      for='checkboxInput'
      class='p-2 bg-[#16191F] rounded-full peer md:hidden'
    >
      <svg
        width='42'
        height='42'
        viewBox='0 0 24 24'
        fill='none'
        stroke='currentColor'
        stroke-width='2'
        stroke-linecap='round'
        stroke-linejoin='round'
      >
        <path stroke='none' d='M0 0h24v24H0z' fill='none'></path>
        <path d='M4 8l16 0'></path>
        <path d='M4 16l16 0'></path>
      </svg>

      <input
        type='checkbox'
        name='checkbox'
        id='checkboxInput'
        class='hidden'
      />
    </label>

    <div
      class='w-[calc(100vw-2rem)] py-4 hidden bg-[#16191F] rounded-xl peer-has-[input:checked]:block animate-menuIn origin-top-right md:inline-block md:w-fit md:px-4 md:peer-has-[input:checked]:inline-block md:animate-none md:rounded-full'
    >
      <ul
        class='h-full flex flex-col justify-center items-center gap-6 text-2xl text-zinc-100 font-semibold uppercase md:h-fit md:flex-row md:justify-normal md:font-normal md:text-xl'
      >
        {
          navLinks.map(({ name, href }) => (
            <li class='md:hover:text-amber-400 md:transition-all md:duration-150 md:ease-in'>
              <a href={href} aria-label={`Ir a ${name}`} class='navLinks'>
                {name}
              </a>
            </li>
          ))
        }
      </ul>
    </div>
  </nav>
</header>

<script>
  const navLinks = document.querySelectorAll('.navLinks')

  function toggleMenu() {
    const checkboxInput = document.getElementById(
      'checkboxInput'
    ) as HTMLInputElement

    checkboxInput.checked = !checkboxInput.checked
  }

  navLinks.forEach((link) => {
    link.addEventListener('click', toggleMenu)
  })
</script>
