---
const navLinks = [
  { name: 'Home', href: '/#home' },
  { name: 'Sobre mí', href: '/#aboutme' },
  { name: 'Proyectos', href: '/#projects' },
  { name: 'Contacto', href: '/#contact' },
]
---

<header class='fixed w-screen z-50 bg-[#16191F]'>
  <nav
    class='max-w-4xl h-full mx-auto px-2 flex flex-wrap justify-between items-center lg:px-0'
  >
    <a href='/#home' aria-label='Ir a Inicio' class='my-3 sm:my-2'>
      <svg width='50px' height='50px' viewBox='0 0 24 24' fill='none'>
        <path
          d='M7 8L3 11.6923L7 16M17 8L21 11.6923L17 16M14 4L10 20'
          stroke='#000000'
          stroke-width='2'
          stroke-linecap='round'
          stroke-linejoin='round'
          class='stroke-red-600'></path>
      </svg>
    </a>

    <label for='checkboxInput' class='peer sm:hidden'>
      <svg
        width='42'
        height='42'
        viewBox='0 0 24 24'
        fill='none'
        stroke='currentColor'
        stroke-width='2'
        stroke-linecap='round'
        stroke-linejoin='round'
      >
        <path stroke='none' d='M0 0h24v24H0z' fill='none'></path>
        <path d='M4 8l16 0'></path>
        <path d='M4 16l16 0'></path>
      </svg>

      <input
        type='checkbox'
        name='checkbox'
        id='checkboxInput'
        class='hidden'
      />
    </label>

    <div
      class='flex-[1_1_100%] h-0 overflow-hidden peer-has-[input:checked]:h-[12.5rem] peer-has-[input:checked]:mb-4 transition-[height] ease-linear duration-75 sm:inline-block sm:flex-initial sm:w-fit sm:h-fit sm:peer-has-[input:checked]:h-auto sm:peer-has-[input:checked]:mb-0'
    >
      <ul
        class='h-full flex flex-col justify-center items-center gap-6 text-2xl text-zinc-100 font-semibold uppercase sm:h-fit sm:flex-row sm:justify-normal sm:gap-3 sm:text-lg sm:font-normal md:text-xl'
      >
        {
          navLinks.map(({ name, href }) => (
            <li class='md:px-2.5 md:py-2 md:rounded-xl md:hover:bg-zinc-700 md:transition-all md:duration-100 md:ease-linear'>
              <a href={href} aria-label={`Ir a ${name}`} class='navLinks'>
                {name}
              </a>
            </li>
          ))
        }
      </ul>
    </div>
  </nav>
</header>

<script>
  const navLinks = document.querySelectorAll('.navLinks')

  function toggleMenu() {
    const checkboxInput = document.getElementById(
      'checkboxInput'
    ) as HTMLInputElement

    checkboxInput.checked = !checkboxInput.checked
  }

  navLinks.forEach((link) => {
    link.addEventListener('click', toggleMenu)
  })
</script>
