---
import { Image } from 'astro:assets'
import me from '@assets/img/me.webp'
---

<section id='home' class='w-full h-[100svh]'>
  <div class='max-w-4xl h-full mx-auto pt-16 text-neutral-50 flex flex-col justify-center items-center gap-6 md:flex-row md:justify-around md:gap-0'>
    <div class='max-w-sm mx-auto md:mx-0'>
      <h1 class='text-4xl leading-[3rem] text-center font-bold md:text-5xl md:leading-[3.5rem] md:text-left'>
        ¡Hola, soy <span class='text-red-600'>Francisco</span>!
      </h1>

      <p class='my-4 text-xl text-center sm:my-6 md:text-2xl md:text-left'>
        Desarrollador Front-end 💻
      </p>

      <div class='text-center md:text-left'>
        <a
          href='https://github.com/francisco-leiva'
          target='_blank'
          aria-label='Go to Github profile'
          class='inline-block relative px-7 py-3 text-base font-bold border-[3px] border-red-600 bg-transparent overflow-hidden no-underline z-[1] active:bg-red-600 md:before:absolute md:before:left-0 md:before:top-0 md:before:w-full md:before:h-full md:before:bg-red-600 md:before:-translate-x-full md:before:transition-all md:before:duration-300 md:before:z-[-1] md:before:hover:translate-x-0'
        >
          GitHub
        </a>

        <a
          href='https://www.linkedin.com/in/franciscoleiva14/'
          target='_blank'
          aria-label='Go to LinkedIn profile'
          class='inline-block relative ml-3 px-7 py-3 text-base font-bold border-[3px] border-red-600 bg-transparent overflow-hidden no-underline z-[1] active:bg-red-600 md:before:absolute md:before:left-0 md:before:top-0 md:before:w-full md:before:h-full md:before:bg-red-600 md:before:-translate-x-full md:before:transition-all md:before:duration-300 md:before:z-[-1] md:before:hover:translate-x-0'
        >
          LinkedIn
        </a>
      </div>
    </div>

    <div class='w-64 h-64 mx-auto sm:w-72 sm:h-72 sm:mx-0 md:w-80 md:h-80'>
      <Image
        src={me}
        alt='Francisco Leiva'
        class='w-full h-full rounded-full object-cover object-center'
      />
    </div>
  </div>
</section>