---
import Html from 'src/icons/Html.astro'
import Css from 'src/icons/Css.astro'
import Sass from 'src/icons/Sass.astro'
import Tailwind from 'src/icons/Tailwind.astro'
import Javascript from 'src/icons/Javascript.astro'
import Typescript from 'src/icons/Typescript.astro'
import React from 'src/icons/React.astro'
import Vite from 'src/icons/Vite.astro'
import Nextjs from 'src/icons/Nextjs.astro'
import AstroIcon from 'src/icons/AstroIcon.astro'
import Git from 'src/icons/Git.astro'
import Github from 'src/icons/Github.astro'
---

<div
  class='max-w-lg mx-auto px-4 grid grid-cols-3 gap-8 justify-items-center sm:px-0 sm:grid-cols-4 sm:gap-12'
>
  <Html />
  <Css />
  <Sass />
  <Tailwind />
  <Javascript />
  <Typescript />
  <React />
  <Vite />
  <Nextjs />
  <AstroIcon />
  <Git />
  <Github />
</div>
